// ==== Colors ==== //
$baltic-sea: #3D3C3F;
$iron: #CCCCCC;
$alto: #DCD9D9;
$lily-white: #EAEAEA;
$border: #EEEEEE;
$lightgray: #f5f5f5;
$white-lilac: #E7E7E7;
$hint-of-red: #F9F9F9;
$pacific-blue: #0097CB;
$casablanca: #F0AD4E;
$carmine-red: #F4003A;

// $pacific-blue: #0097CB;
// $curious-blue: #337AB7;
// $celestial-blue: #3B94CC;
// $malibu: #6CADD6;

// $lily-white: #EAEAEA;
// $border: #EEEEEE;
// $lightgray: #f5f5f5;
// $white-lilac: #E7E7E7;
// $hint-of-red: #F9F9F9;
