/* ==== Colors ==== */
$baltic-sea: #3D3C3F;
$white-lilac: #E7E7E7;
$lily-white: #EAEAEA;
$hint-of-red: #F9F9F9;
$alto: #DCD9D9;
$color: #1999ce;
$pacific-blue: #0097CB;
$curious-blue: #337AB7;
$curious-blue-hover: #3582b3;
$celestial-blue: #3B94CC;
$malibu: #6CADD6;
$lightgray: #f5f5f5;
$iron: #CCCCCC;
$border: #EEEEEE;
$casablanca: #F0AD4E;
$carmine-red: #F4003A;
